@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ebebeb;
}

.piano {
    background-color: #121212;
    width: 90%;
    max-width: 1440px;
    height: 50%;
    margin: 100px auto 0;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.controls {
    color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    display: flex;
    width: 100%;
    justify-content: end;
    align-self: flex-end;
    margin-right: 1rem;
}

.name {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    margin-left: 2rem;
    margin-right: auto;
    margin-top: -1rem;
    background-image: linear-gradient(to bottom, #fff, #ffd700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.checkbox-label {
    display: flex;
    gap: 1rem;
    font-weight: 500;
}

.switcher {
    width: 54px;
    height: 24px;
    background-color: #555;
    display: flex;
    border-radius: 1rem;
    padding: 4px;
}

.switcher-button {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #ddd;
    border-radius: 1rem;
}

.switcher-active {
    background-color: #006eff;
    justify-content: flex-end;
}

.piano-keys {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #181818;
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
}

.white {
    position: absolute;
    height: 320px;
    margin-top: 1rem;
    background-color: #fff;
    flex-grow: 1;
    border-radius: 4px;
    border-bottom: 8px solid #ddd;
    color: rgba(0, 0, 0, 0.3);
    margin-left: -1rem;
    z-index: 0;
}

.key {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8px;
    user-select: none;
}

.key span {
    font-weight: 600;
    position: absolute;
    transition-duration: 500ms;
}

.black {
    width: 40px;
    height: 160px;
    margin-top: 1rem;
    background: linear-gradient(black, #333);
    border-radius: 0 0 5px 5px;
    border-bottom: 8px solid #222;
    margin-left: -1rem;
    z-index: 1;
    color: rgba(255, 255, 255, 0.3);
}

.piano-keys .white:nth-child(1) {
    margin-left: 0;
}

.piano-keys .white:nth-child(5) {
    margin-right: 24px;
}

.piano-keys .white:nth-child(12) {
    margin-right: 24px;
}

.piano-keys .white:nth-child(17) {
    margin-right: 24px;
}

.black-pressed {
    background: linear-gradient(#333, #000);
    border-bottom: none;
    height: 160px;
}

.disabled-keys span {
    opacity: 0;
}